{{ define "header"}}
<header class="px-4 bg-primary">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">Forum</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home <span
                            class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">contact us</a>
                </li>
            </ul>

            <div>
                <button class="btn btn-sm btn-danger">Sign Up</button>
                <button class="btn btn-sm btn-primary">Login</button>
            </div>
        </div>
    </nav>
</header>


{{end}}